#answer {
  font-size: 22px;
  font-weight: 600;
  background-color: #2496bf;
  
  border-radius: 50px;
  border: 0px;
  width: 270px;
    color: #E9EFF0;

}

#answer:active {
  font-size: 22px;
  font-weight: 600;
  background-color: #2496bf;
  
  border-radius: 50px;
  border: 0px;
  width: 270px;
    color: #E9EFF0;
}
#standardButton {
  border-radius: 50px;
  /*background-color:#4ba4f2;*/
  background-color: #2496bf;
  font-size: 20px;
  /* border: 3px solid #C82A95; */
  border: 0px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.cardInfo {
  background: linear-gradient(    164deg,   rgb(206, 230, 242) 0%,    rgb(188, 210, 227) 100%  );
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
 
}
.cardExtra {
  background: linear-gradient(    164deg,   rgb(206, 230, 242) 0%,    rgb(188, 210, 227) 100%  );
  
  /*background: linear-gradient(    180deg,   #f0d2e6 0%,     rgb(217, 238, 238)100%  )*/
 
}

.cardUser{
  background:  transparent;
border: 0px;
border-radius: 7px;
}



.navSearch{
  background-color: rgb(54 75 97);

}

.btnWatchNow {
  border-radius: 50px;
  /*background-color:#4ba4f2;*/
  background-color: #3E546D;
  font-size: 22px;
  /* border: 3px solid #C82A95; */
  border: 0px;
  padding: 0.6rem 1rem 0.6rem 1rem;
}
.btnWatchNow:hover {
  border-radius: 50px;
  /*background-color:#4ba4f2;*/
  background-color: #3E546D !important;
  font-size: 22px;
  /* border: 3px solid #C82A95; */
  border: 0px !important;
  padding: 0.6rem 1rem 0.6rem 1rem;
}

.btnSkip {
  border-radius: 50px;
 background-color: transparent;
  font-size: 22px;
  font-weight: 600;
  color: #3E546D;
  border: 3px solid #3E546D;
}


.btnSkip:hover {
  
  
  background-color: transparent !important;
   font-size: 22px;
   font-weight: 600;
   color: #3E546D !important;
   border: 3px solid #3E546D !important;
}
.btnOk {
  border-radius: 50px;
  /*background-color:#4ba4f2;*/
  background-color: #2496bf;
  font-size: 20px;
  /* border: 3px solid #C82A95; */
  border: 0px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.btnOk:hover {
  border-radius: 50px;
  /*background-color:#4ba4f2;*/
  background-color: #2496bf !important;
  font-size: 20px;
  /* border: 3px solid #C82A95; */
  border: 0px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.question{
  color: #E9EFF0;
  padding-top: 1rem;
}

.progress-bar {
  background-color: #c82a95;

}
.ArrowLeft{
  color: #E9EFF0;
  height:30px;
  width:30px;
}

.spinner{
width: 6rem; 
height: 6rem;
}